
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#hero {
    margin: 0 auto 72px;
    width: 592px;
    
}

#hero img {
    margin-bottom: 72px;
}


h1 { 
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
}

h1 span {
    font-weight: bold;
    margin-bottom: 32px;
}

span, a {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
} 

#footer {
    padding-top: 80px;
}

a {
    font-family: 'Open Sans', sans-serif;
}
a:link {
    color:#FF9900;
  }
  a:visited {
    color:#FF9900;
}

  a:link {
    text-decoration: none;
}
 
#spaceF {

    padding-left: 27px; 
}

#balls{
        position: fixed;
        bottom: 0px;
        right: 0px;

}


#line {
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;


}